<!-- Dark/light mode button and color picker -->
{{ partialCached "footer-opt" . }}

<!-- Custom or default footer text -->
{{ if (templates.Exists "partials/custom/footer-text.html") }}
  {{ with .Site.Params.footerText }}

    {{ $processedFooterText := slice }}

    {{ range . }}
      {{ $currentParagraph := printf `<p>%s</p>` (. | markdownify | emojify) }}
      {{ $processedFooterText = $processedFooterText | append $currentParagraph }}
    {{ end }}

    {{ delimit $processedFooterText "" }}

  {{ end }}
  {{ partial "custom/footer-text" . }}
{{ else }}

  {{ with .Site.Params.footerText }}

    {{ $processedFooterText := slice }}

    {{ range . }}
      {{ $currentParagraph := printf `<p>%s</p>` (. | markdownify | emojify) }}
      {{ $processedFooterText = $processedFooterText | append $currentParagraph }}
    {{ end }}

    {{ delimit $processedFooterText "" }}

  {{ end }}

{{ end }}

<!--
  TODO
  Maybe I should rethink this
-->

{{ if gt (len .Translations) 0 }}

  {{ $processedLangs := slice }}

  {{ range .Translations }}
    {{ $currentLang := printf `<a rel="alternate" hreflang="%s" href="%s">%s</a>` .Language.Lang .RelPermalink .Language.LanguageName }}
    {{ $processedLangs = $processedLangs | append $currentLang }}
  {{ end }}

  <p>{{ T "alsoAvailable" }}: {{ delimit $processedLangs ", " (T "and") }}.</p>

{{ end }}
