<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content="Hugo {{ hugo.Version }}">
<meta name="theme" content="Color Your World -- gitlab.com/rmaguiar/hugo-theme-color-your-world">
<!--
<meta http-equiv="Content-Security-Policy" content="default-src https:">
-->

<!-- I'm 99% sure there's a smarter way of doing it but whatever -->
{{ $currentTitle  := .Title | emojify }}
{{ $mainTitle     := .Params.mainTitle | emojify }}


{{ $titleSeparator := .Site.Params.titleSeparator }}


{{ if (eq .Kind "404") }}

  <!-- If 404 page -->
  {{ $currentTitle = .Site.Params.notFound.title | emojify | default .Site.Data.default.notFound.title }}

{{ else if (eq .Kind "section") }}

  <!-- If post list -->
  {{ if gt .Paginator.TotalPages 1 }}
    {{ $mainTitle = printf `%s, %s %s %s %s` .Title (T "page") (string .Paginator.PageNumber) (T "of") (string .Paginator.TotalPages) }}
  {{ end }}

{{ else if eq .Kind "term" }}

  {{ $currentTerm := "" }}

  {{ if eq .Type "tags" }}
    {{ $currentTerm = (T "tag") }}
  {{ else }}
    {{ $currentTerm = (T "category") }}
  {{ end }}

  {{ $currentTitle = printf `%s: "%s"` $currentTerm .Title }}

  {{ with .Paginator }}
    {{ if gt .TotalPages 1 }}
      {{ $mainTitle = printf `%s: "%s", %s %s %s %s` $currentTerm $.Title (T "page") (string .PageNumber) (T "of") (string .TotalPages) }}
    {{ else }}
      {{ $mainTitle = printf `%s: "%s"` $currentTerm $.Title }}
    {{ end }}
  {{ end }}

{{ else if eq .Kind "taxonomy" }}

  {{ if eq .Type "tags" }}
    {{ $currentTitle = (T "tags") }}
  {{ else }}
    {{ $currentTitle = (T "categories") }}
  {{ end }}

{{ else if and (.IsHome) (not .Content) }}

  <!-- If home page without content -->
  {{ $currentTitle = .Site.Title | emojify }}

{{ end }}


{{ $currentDesc := .Params.Description | emojify }}

{{ if .IsHome }}
  {{ $currentDesc = .Site.Params.description | emojify }}
{{ else if and (ne .Kind "taxonomy") (eq .Type "tags") (not .Params.description) }}
  {{ $currentDesc = (T "postsUnderTag" .) }}
{{ else if and (ne .Kind "taxonomy") (eq .Type "categories") (not .Params.description) }}
  {{ $currentDesc = (T "postsUnderCategory" .) }}
{{ else if eq .Kind "taxonomy" }}
  {{ $currentDesc = printf `%s %s.` (T "pageContaining") ($currentTitle | lower) }}
{{ else if (eq .Kind "404") }}
  {{ $currentDesc = .Site.Params.notFound.description | emojify | default .Site.Data.default.notFound.description }}
{{ end }}


<!-- Set current title -->
{{ .Scratch.Set "currentTitle" $currentTitle }}



<!-- Beginning of the SEO madness -->

<title>
  {{- if and $titleSeparator (not .Params.disableTitleSeparator ) -}}
    {{ if $mainTitle }}
      {{- $mainTitle = printf `%s %s %s` $mainTitle $titleSeparator .Site.Title -}}
    {{ else }}
      {{- $mainTitle = printf `%s %s %s` $currentTitle $titleSeparator .Site.Title -}}
    {{ end }}
  {{- end -}}

  {{- if $mainTitle -}}
    {{- $mainTitle -}}
  {{ else }}
    {{- $currentTitle -}}
  {{- end -}}
</title>


{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
{{ with $currentDesc }}<meta name="description" content="{{ . }}">{{ end }}


<meta name="robots" content="{{ if and (ne .Kind "404") (ne .Params.noindex true) }}index follow{{ else }}noindex follow{{ end }}">


<!-- Canon -->
{{ if and (.IsPage) (not .Params.sitemapExclude) }}
  {{ if .Params.canonicalURL }}
    <link rel="canonical" href="{{ .Params.canonicalURL }}">
  {{ else if and (ne .Kind "404") (ne .Params.sitemapExclude true) }}
    <link rel="canonical" href="{{ .Permalink }}">
  {{ end }}
{{ else if (eq .Kind "section") }}
  <link rel="canonical" href="{{ .Paginator.URL | absURL }}">

  {{ if .Paginator.HasPrev }}
    <link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}">
  {{ end }}

  {{ if .Paginator.HasNext }}
    <link rel="next" href="{{ .Paginator.Next.URL | absURL }}">
  {{ end }}
{{ end }}


<!-- If the user wants to add something (custom favicons, fonts, scripts, etc) -->
{{ if (templates.Exists "partials/custom/head-append.html") }}
  {{ partial "custom/head-append" . }}
{{ end }}


<!-- Open Graph / Twitter Card -->
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ $currentTitle }}">
{{ with $currentDesc }}<meta property="og:description" content="{{ . }}">{{ end }}

{{- if ne .Kind "404" }}
  <meta property="og:url" content="{{ .Permalink }}">
{{ end -}}



<!-- Image processing options -->
{{ $highRes := .Site.Params.imageProc.highRes | default .Site.Data.default.imageProc.highRes }}

<!-- Default image path -->
{{ $imgPath := .Page.Param "imgPath" }}

<!-- Generate images for Open Graph, Twitter Cards and also Schema.org -->
{{- if .Params.cover }}

  {{ $file := .Params.cover }}

  {{ if $imgPath }}
    {{ $file = path.Join $imgPath $file }}
  {{ end }}

  {{- with .Resources.GetMatch $file }}
    <meta property="og:image" content="{{ (.Fill "1200x630").Permalink }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    {{ with $.Params.coverAlt }}
      <meta property="og:image:alt" content="{{ . }}">
    {{ end }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ (.Fill "1280x640").Permalink }}">

    {{ if and (in $.Site.Params.mainSections $.Section) (not .Params.sitemapExclude) }}
      {{ $.Scratch.Set "schemaCover" (slice ((.Fill "1280x640").Permalink) ((.Fill "1200x630").Permalink) ((.Resize (index $highRes 0)).Permalink)) }}
    {{ end }}

  {{ end -}}
{{ else if .Site.Params.cover }}
  {{ with resources.Get (.Site.Params.cover | default "img/cover.jpg") }}
    <meta property="og:image" content="{{ (.Fill "1200x630").Permalink }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    {{ with $.Site.Params.coverAlt }}
      <meta property="og:image:alt" content="{{ . }}">
    {{ end }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ (.Fill "1280x640").Permalink }}">

    {{ if and (in $.Site.Params.mainSections $.Section) (not .Params.sitemapExclude) }}
      {{ $.Scratch.Set "schemaCover" (slice ((.Fill "1280x640").Permalink) ((.Fill "1200x630").Permalink) ((.Resize (index $highRes 0)).Permalink)) }}
    {{ end }}

  {{ end }}
{{ end -}}

<!-- More social crap -->
{{ if and (in .Site.Params.mainSections .Section) (.IsPage) (not .Params.sitemapExclude) }}
  <meta property="og:type" content="article">

  {{ if not .Date.IsZero }}
    <meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02" | safeHTML }}">
    <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02" | safeHTML }}">
    <meta property="og:updated_time" content="{{ .Lastmod.Format "2006-01-02" | safeHTML }}">
  {{ end }}

  {{ with .Params.author }}
    <meta property="article:author" content="{{ . }}">
  {{ end }}

  {{ with .Site.Params.Social.Centralized.twitter }}
    <meta name="twitter:creator" content="{{ printf "@%s" (index . 0) }}">
  {{ end}}

{{ else }}
  <meta property="og:type" content="website">
{{ end -}}

{{ with .Site.Params.Social.Centralized.twitter }}
  <meta name="twitter:site" content="{{ printf "@%s" (index . 0) }}">
{{ end }}



{{ with .Site.Params.locale }}
  <meta property="og:locale" content="{{ . }}">
{{ end }}

{{ if .Site.Config.Privacy.Twitter.EnableDNT }}
  <meta name="twitter:dnt" content="on">
{{ end }}


<!-- Feed -->
{{ with .OutputFormats.Get "RSS" }}
  <link rel="alternate" type="application/rss+xml" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
{{ end }}


<!-- i18n -->
{{ if .IsTranslated }}
  {{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
{{ end }}


<!-- Will be replaced by JS anyway -->
<meta name="theme-color" content="#222">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">


<!-- Reduce repetition... -->
{{- $centralized   := .Site.Params.Social.Centralized -}}
{{- $decentralized := .Site.Params.Social.Decentralized -}}

<!-- Generate array with social profiles -->
{{- $sameAs := slice -}}

{{ if .Site.Params.Social }}
  {{ range .Site.Data.social }}

    {{ $currentEntry  := .entry }}
    {{ $currentBase   := .base }}

    {{ if not .decentralized }}

      {{ with (index $centralized $currentEntry) }}
        {{ $sameAs = $sameAs | append (printf "%s%s" $currentBase (index . 0)) }}
      {{ end }}

    {{ else }}

      {{ if (index $decentralized $currentEntry) }}
        {{ range (index $decentralized $currentEntry) }}
          {{ $sameAs = $sameAs | append (index . 0) }}
        {{ end }}
      {{ end }}

    {{ end }}

  {{ end }}
{{ end }}

<!-- Schema Markup / Structured Data -->

<!--
  TODO
  The lack of "datePublished" will throw an error,
  but I don't know if leaving it as "0001-01-01" is any better.

  Also, there's something wrong with the Google's validation tool.
  It's ignoring the "Person" type for https://schema.org/publisher.

  Reference: https://www.drupal.org/project/schema_metatag/issues/3097526
-->

{{ if and (in .Site.Params.mainSections .Section) (.IsPage) (not .Params.sitemapExclude) }}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebSite",
        "@id": "{{ .Site.BaseURL }}"
      },
      "headline": {{ $currentTitle }},
      "description": {{ $currentDesc }},
      {{ with .Scratch.Get "schemaCover" }}"image": {{ . }},{{ end }}
      "url": "{{ .Permalink }}",
      "inLanguage": "{{ .Site.Language.Lang }}",
      "datePublished": "{{ .PublishDate.Format "2006-01-02" | safeHTML }}",
      {{ with .Lastmod }}"dateModified": "{{ .Format "2006-01-02" | safeHTML }}",{{ end }}
      "wordCount" : "{{ .WordCount }}",
      "publisher": {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}"
      },
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}",
        {{ with .Site.Params.authorDesc }}"description": {{ . }},{{ end }}
        {{ if gt (len $sameAs) 0 }}"sameAs": {{ $sameAs }}{{ end }}
      }
    }
  </script>
{{ else }}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "{{ .Site.BaseURL }}",
      "inLanguage": "{{ .Site.Language.Lang }}",
      "name": {{ .Site.Title }},
      "description": {{ .Site.Params.description | emojify }},
      "publisher": "{{ .Site.Params.author }}"
    }
  </script>
{{ end }}


<!-- Cached style -->
{{ partialCached "head-style" . }}

<!-- Preload fonts -->
{{ partialCached "font-preload" . }}

{{ if or .Params.katex .Site.Params.katex .Params.math .Site.Params.math }}
  {{ partialCached "katex-font-preload" . }}
{{ end }}


<!-- Preload search index -->
{{ if eq .Layout "search" }}
  <link rel="preload" href="index.json" as="fetch" crossorigin="anonymous">
{{ end }}


<!--
  rel="me"
  Not even sure how useful is this nowdays,
  but since it's easy to implement...
-->

{{- range $sameAs -}}
  <link rel="me" href="{{ . }}">
{{ end -}}


<!-- Main JS -->
{{ $main := resources.Get "js/main.js" | resources.ExecuteAsTemplate "js/main.js" . | minify | fingerprint }}
<script src="{{ $main.Permalink }}" integrity="{{ $main.Data.Integrity }}" crossorigin="anonymous"></script>
