<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">

<!-- goatcounter -->
<script data-goatcounter="https://zacharyzollman.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

<!-- externally hosted fonts -->
<!--  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/m-p-type-1" type="text/css"/> 
<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/secuela-variable" type="text/css"/>  -->
<link rel="stylesheet" href="//brick.freetls.fastly.net/Oswald:400/Open+Sans:400,700,400i,700i">