@charset 'utf-8';

@import 'variables',
        'font-face';

        // added ellipses animation from https://jongacnik.com/entries/ellipses-loader
        // via https://tinytools.directory/

        .ellipses-loader {
          animation: ellipses-loader 2s linear infinite;
        }

        @keyframes ellipses-loader {
          0% { clip-path: inset(0 100% 0 0) }
          24.9% { clip-path: inset(0 100% 0 0) }
          25% { clip-path: inset(0 66% 0 0) }
          49.9% { clip-path: inset(0 66% 0 0) }
          50% { clip-path: inset(0 33% 0 0) }
          74.9% { clip-path: inset(0 33% 0 0) }
          75% { clip-path: inset(0 0 0 0) }
          100% { clip-path: inset(0 0 0 0) }
        }
