// "A Hassle-Free Way to Self-Host Google Fonts" by Mario Ranftl
// https://google-webfonts-helper.herokuapp.com/fonts

// NOTE
// Added the font-display afterwards
/* woff2 format browser support (apparently): Chrome 26+, Opera 23+, Firefox 39+ */

$font-display: swap;

/* oswald-700 - latin */
/*
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: $font-display;
  src: local('Oswald'),
       url('../fonts/oswald-v29-latin-700.woff2') format('woff2');
}
*/

/* open-sans-regular - latin */
/*
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: $font-display;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2');
}
*/

/* open-sans-700 - latin */
/*
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: $font-display;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v17-latin-700.woff2') format('woff2');
}
*/
/* open-sans-italic - latin */
/*
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: $font-display;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v17-latin-italic.woff2') format('woff2'); 
}

@font-face {
  font-family: 'SecuelaMedium';
  font-weight: normal;
  font-style: normal;
  font-display: $font-display;
  src: local('Secuela'),
       url('https://fontlibrary.org/assets/fonts/secuela-variable/7c96d0c4f3a469f62535814a8864f89b/ae4a429da824adc1b7368754e2a89c09/SecuelaMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Now';
  font-weight: normal;
  font-style: normal;
  font-display: $font-display;
  src: local('Now'),
       url('https://fontlibrary.org/assets/fonts/m-p-type-1/2ba96dd855e39be5a969b648965492d7/ec8106b63c24c1abf8bc2d1eaacd0587/M1pregular.ttf') format('truetype');
}
*/